= form_for [spina, :admin, @item], html: {autocomplete: "off"} do |f|
  - content_for :notification_alert do
    = error_explanation!(@item)

  #page_content.tab-content.active
    .table-container
      %table.table.table-form
        %tr
          %td
            = t('spina.name')
          %td
            = f.text_field :name, placeholder: t('spina.item.author_name')
        %tr
          %td
            = t('spina.item.icon')
          %td
            = f.file_field :icon
        %tr
          %td
            = t('spina.item.description')
          %td
            = f.text_area :description, placeholder: t('spina.item.describe')

  %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
    = t('spina.item.save')

  = link_to t('spina.item.cancel'), spina.admin_items_path, class: 'button button-link'

  - unless @item.new_record?
    .pull-right= link_to t('spina.destroy'), spina.admin_item_path(@item), method: :delete, confirm: "Weet je zeker dat je de beoordeling van <strong>#{@item.name}</strong> wilt verwijderen?", class: 'button button-link button-danger'
