.filters
  = link_to t("spina.item.new"), spina.new_admin_item_path, class: 'button button-primary', data: {icon: 't'}

  .pull-right
    %p
      = "#{t('spina.item.filter_by')}"
      = select_tag :filter_by, options_for_select([["All","All"], ["Books","Books"], ["Games","Games"]])
.table-container
  %table.table
    %thead
      %tr
        %th
        %th= t('spina.name')
        %th= t('spina.item.name')
        %th

    %tbody
      - if @items.any?
        - @items.each do |item|
          %tr
            %td.icon
              = image_tag item.icon.small_thumb, class: "radius"
            %td.nowrap
              = item.name
              %small= time_ago_in_words(item.created_at) + t('spina.ago')
            %td
              %p= item.description
            %td.nowrap
              = link_to t('spina.edit'), spina.edit_admin_item_path(item), class: 'button button-link', data: {icon: 'q'}
              %br
              = link_to t('spina.destroy'), spina.admin_item_path(item), method: :delete, class: 'button button-link', data: {icon: 'q', confirm: t('spina.item.confirm_delete')}

      - else
        %tr
          %td.align-center{colspan: 4}
            %em= t('spina.item.no_items')

- content_for :plugin_stylesheets do
  = stylesheet_link_tag "spina/admin/items"